body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 0;

    background-image: url('../images/global/header.png');
    background-size: contain;
    background-position: center center;
    background-repeat: repeat-x;

    height: 70px;
}

.search-bar {
    position: relative;
    display: flex;
    align-items: center;
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;
}

.search-container input {
    padding: 10px;
    padding-right: 35px;
    border: 1px solid;
    border-radius: 20px;
    outline: none;
    font-size: 14px;
    width: 200px;
    box-sizing: border-box;
}

.search-container button {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #666;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-container button svg {
    width: 16px;
    height: 16px;
    fill: #666;
}

.search-icon {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-icon img {
    width: 40px;
    height: 40px;
    transition: opacity 0.3s ease-in-out;
}

.search-icon .hover-icon {
    position: absolute;
    opacity: 0;
}

.search-icon:hover .static-icon {
    opacity: 0;
}

.search-icon:hover .hover-icon {
    opacity: 1;
}

.login-button {
    padding: 12px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 10px;
}

.login-button:hover {
    background-color: #0056b3;
}

.title {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
    color: #222;
}

nav {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: white;
    padding: 10px 15px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #ffcc00;
}


@media screen and (max-width: 600px) {
    header {
        height: 150px;
    }
}

@media screen and (max-width: 1024px) {
    header {
        height: 180px;
    }
}