header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px 15px 0 15px;
}

.search-bar {
    position: relative;
    display: flex;
    align-items: center;
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;
}

.search-container input {
    padding: 10px;
    padding-right: 35px;
    border: 1px solid;
    border-radius: 20px;
    outline: none;
    font-size: 14px;
    width: 200px;
    box-sizing: border-box;
}

.search-container button {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #666;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-container button svg {
    width: 16px;
    height: 16px;
    fill: #666;
}

.login-button {
    padding: 12px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 10px;
}

.login-button:hover {
    background-color: #0056b3;
}

.title {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
    color: #222;
}
