/* Estilos del header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #1a1a1a; /* Fondo gris oscuro */
    height: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  /* Contenedor del logo */
  .logoContainer {
    display: flex;
    align-items: center;
  }
  
  /* Estilos del nav, para los elementos en fila */
  .nav {
    display: flex;
    justify-content: space-evenly; /* Repartir los elementos uniformemente */
    flex: 1; /* Hace que el nav ocupe el espacio restante */
    align-items: center;
  }
  
  /* Estilos de los h3 dentro del nav */
  .navItem {
    margin: 0 20px; /* Espaciado entre los elementos del nav */
    cursor: pointer;
    color: #ffffff; /* Color del texto */
    font-size: 20px;
    position: relative;
    transition: color 0.3s;
  }
  
  .navItem:hover {
    color: #007BFF; /* Color del texto al hacer hover */
  }
  
  .navItem::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #007BFF;
    transition: width 0.3s;
    position: absolute;
    bottom: -5px;
    left: 0;
  }
  
  .navItem:hover::after {
    width: 100%;
  }
  
  .active::after {
    width: 100%;
  }
  
  /* Estilos de la barra de búsqueda */
  .searchBar {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  /* Estilos del contenedor de búsqueda */
  .searchContainer {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  /* Estilos del input de búsqueda */
  .searchInput {
    padding: 12px;
    padding-right: 45px;
    border: 1px solid #444;
    border-radius: 25px;
    outline: none;
    font-size: 16px;
    width: 250px;
    box-sizing: border-box;
    background-color: #2e2e2e; /* Fondo gris más claro */
    color: #ffffff; /* Color del texto */
  }
  
  /* Estilos del botón de búsqueda */
  .searchIcon {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Estilos para las imágenes dentro del botón */
  .staticIcon,
  .hoverIcon {
    width: 40px;
    height: 40px;
  }
  
  /* Efectos para la imagen en hover */
  .hoverIcon {
    position: absolute;
    opacity: 0;
  }
  
  /* Cambiar la visibilidad de las imágenes al hacer hover */
  .searchIcon:hover .staticIcon {
    opacity: 0;
  }
  
  .searchIcon:hover .hoverIcon {
    opacity: 1;
  }
  
  /* Estilos del botón de inicio de sesión */
  .loginButton {
    padding: 14px 24px;
    font-size: 18px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 40px; /* Separación con la barra de búsqueda */
  }
  
  .loginButton:hover {
    background-color: #0056b3;
  }
  
  /* Estilos del menú de usuario */
  .userMenu {
    position: relative;
    display: inline-block;
    margin-left: 40px; /* Añadir margen izquierdo para dejar más espacio */
  }
  
  .dropdownMenu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #333;
    border: 1px solid #444;
    border-radius: 4px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    min-width: 160px;
  }
  
  .dropdownItem {
    display: block;
    width: 100%; /* Asegura que el elemento ocupe todo el ancho del contenedor */
    padding: 12px 16px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: left; /* Alinea el texto a la izquierda */
  }
  
  .dropdownItem:hover {
    background-color: #555;
  }
  
  .logoutItem {
    width: 100%; /* Asegura que el elemento ocupe todo el ancho del contenedor */
    text-align: left; /* Alinea el texto a la izquierda */
  }
  
  .logoutItem:hover {
    background-color: #ff4d4d;
  }